{% extends 'base.html' %}
{% block title %} Choose project to work with {% endblock %}
{% block content %}
    <a href="{% url 'create-project' %}">Add new project</a><br><br>
    {% for project in projects %}
        <a style="text-decoration:none; color:black" href="{% url 'project-details' project.pk %}">{{ project }}</a>
        <!--&emsp;&emsp;<a href="{% url 'edit-project' project.pk %}">Edit</a> /-->
        <!--<a href="{% url 'delete-project' project.pk %}">Delete</a>--><br>
    {% endfor %}

{% endblock %}