{% extends 'base.html' %}
{% block title %} Reports {% endblock %}
{% block content %}
    <div align="right">
            <input type="text" name="searched" id="searched" placeholder="Search report...">
    </div>
    <a href="{% url 'create-raport' %}">Add new report</a><br><br>
    {% for raport in raports %}
        <p><a style="text-decoration:none; color:black" href="{% url 'raport-details' raport.pk %}">{{ raport }}</a></p>
    {% endfor %}

    <script>
        var searchBar = document.getElementById('searched')
        var reports = document.getElementById('report')
        searchBar = document.addEventListener('keyup', function(event){
            var searching = event.target.value.toLowerCase()
            $('p').toArray().forEach(function(report){
                var title = report.firstElementChild.textContent
                if(title.toLowerCase().indexOf(searching) != -1){
                    report.style.display = 'block'
                }
                else{
                    report.style.display = 'none'
                }
            })
        })
    </script>
{% endblock %}